@import '../../theme/colors';

.toastBox {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.toastMessage {
    flex: 3;
    padding: 5px;
    color: #fff;
    font-size: 15px;
}

.toastUndoBtn {
    flex: 1;
    border-radius: 10px;
    background: #000;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
}

.toastUndoBtn:hover {
    background: #c63031;
}
