@import '../../../../theme/colors';

.title {
    font-weight: bold;
}

.position {
    margin-bottom: 10px;
}

.workDate {
    width: fit-content;
    padding: 0 6px 0 0;
    margin-bottom: 10px;
}

.workCompany {
    text-transform: uppercase;
    color: #C63031;
    font-weight: bold;
    font-size: 16px;
    margin-top: -4px;
    display: block;
}

.workBox {
    flex-direction: row;
    display: flex;
    background: #fff;
}

.leftWork {
    flex: 1;
}
.rightWork {
    flex: 1;
    border-left: 1px solid #C63031;
    padding: 0 0 0 15px;
}
.workExperience .workBox:nth-child(n + 2) {
    padding-top: 5px;
}

.experienceText {
    padding: 0 0 10px 20px;
}
