@import '../../theme/colors';

.insideCon {
    padding: 40px 30px 50px 30px;
    line-height: 1.15;
    font-size: 12pt;
    color: #353535
}

.box {
    margin: 17px 0;
}

.name {
    font-weight: bold;
    font-size: 24pt;
    line-height: 28px;
}

.position {
    text-transform: uppercase;
}

.title {
    font-weight: bold;
}

.mainTitle {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 30px;
}

.section {
    display: flex;
    justify-content: space-between;
}

.leftSection {
    max-width: 180px;
    min-width: 180px;
    line-height: 1.15;
    align-self: start;
}

.profile {
    min-width: 450px;
    max-width: 450px;
}

.vl {
    border-left: 1px solid #c63031;
    margin: 0 20px 0 10px;
}

.programmingTechnologies {
    justify-content: space-between;
    display: flex;
    min-width: 250px;
    max-width: 270px;
}

.image {
    position: absolute;
    right: 60px;
    top: 55px;
}
